@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Sedgwick+Ave+Display&display=swap');

:root {
  --color-white: #f0f8ff;
  --color-green: #319236;
  --color-blue: #4c51f7;
  --color-midblue: #26b4e6;
  --color-darkblue: #000074;
  --color-purple: #9d4dbb;
  --color-yellow: #f3af19;
  --color-grey: #adadad;
  
  background: linear-gradient(180deg, rgba(76,81,247,1) 0%, rgba(38,180,230,1) 35%, rgba(0,0,116,1) 100%);
}

body {
  color: var(--color-white);
  letter-spacing: 0.1em;
  margin: 0;
  font-family: 'Mouse Memoirs', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}